<div>
  <div class="questionHeader">
    <div class="questionName">
  <h2>    {{ tour.questionName }}</h2>
    </div>
    <img class="questionImg" src="{{ tour.questionImg }}" alt="questionImg">
    <div class="questionDesc">
    <p>  {{ tour.questionDesc }} </p>
    </div>
  </div>
  <input type="file" accept="image/*;capture=camera" file-upload="tour.qrImage.file"/><button ng-click="tour.postQr()">Post image</button>
  <a href="#openModal">Open Modal</a>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Modal Box</h2>
		<p>This is a sample modal box that can be created using the powers of CSS3.</p>
		<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
	</div>
</div>
</div>
