/* Font imports*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,300,500);

/* Core */

html, body {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
}
*, *::before, *::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
              }
.container {
    height: 100%;
    width: 100%;
}

