/* Theme SCSS */

.theme-container {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-wrap {
    background-color: dodgerblue;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    margin: 5px;
    transition: .4s ease-in-out;
    &:hover {
        background: white;
        transition: .4s ease-in-out;
        cursor: pointer;
        
    }
}

.item-image {
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 200px; 
    align-self: center;
}

.item-name {
    color: black;
    font-size: 1em;
    align-self: center;
    margin-top: 10px;
}

#headerText {
    text-align: center;
}