<div class="header">
    <div class="headerContent">
        <input ng-model="gallery.searchValue" ng-keypress="gallery.searchById($event)" type="search" placeholder=" Sök"  class="search"/>
    </div>
</div>
<div ng-repeat="object in gallery.objects" id="objBlock">
    <H1 class="middleText"> {{object.name}} </h1>
    <div class="parent">
        <img src="{{object.imgurl}}" alt="Object image"/>
    </div>
    <h3 class="middleText"> {{object.desc}} </h3>
    <br>
     <p class="middleText2">Tags:
    <div ng-repeat="tag in object.tags" class="middleText2">
        {{ tag }} 
       
       
    </div>
</div>