<div>
  <h1> Create Theme </h1>
 <input type="text" name="theme-name" placeholder="name" ng-model="admin.themeName" /> 
 <input type="text" name="theme-imgurl" placeholder="imgurl" ng-model="admin.themeImgurl" />
 <input type="text" name="theme-tags" placeholder="T.ex. Militär, Båt" ng-model="admin.themeTags">
 <input type="submit" placeholder="submit" ng-click="admin.postTheme()" />
</div>
<div>
  <h1> Create object </h1>
  <input type="text" name="object-name" placeholder="name" ng-model="admin.objectName" />
  <input type="text" name="object-imgurl" placeholder="imgurl" ng-model="admin.objectImgurl" />
  <textarea name="object-desc" placeholder="description" ng-model="admin.objectDesc"></textarea>
  <input type="text" name="object-tags" placeholder="T.ex. Militär, Båt" ng-model="admin.objectTags" />
  <input type="text" name="object-answer" placeholder="Svar till frågan" ng-model="admin.objectAnswer" />
  <input type="submit" placeholder="submit" ng-click="admin.postObject()" />
</div>
<div>
  <h1> Themes </h1>
  <ul ng-repeat="theme in admin.themes">
    <li> {{theme.name}} </li>
    <li> {{theme.imgUrl}} </li>
</ul>
  <h1> Objects </h1>
  <ul ng-repeat="object in admin.objects">
    <li> {{object.name}} </li>
    <li> {{object.imgUrl}} </li>
</ul>
  <input type="submit" placeholder="submit" ng-click="admin.getAllThemes()">
</div>
